@page
@model EmpDash.Pages.RegistrationPModel
@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <h2>Register</h2>
    <form method="post">

        <div>
            <label>Username:</label>
            <input type="text" class="form-control" asp-for="User.FirstName" required />
            <span asp-validation-for="User.FirstName" class="text-danger"></span>
        </div>

        <div>
            <label>Email:</label>
            <input type="email" class="form-control" asp-for="User.Email" required />
            <span asp-validation-for="User.Email" class="text-danger"></span>
        </div>

        <div>
            <label>Password:</label>
            <input type="password" class="form-control" asp-for="User.Password" required />
            <span asp-validation-for="User.Password" class="text-danger"></span>
        </div>

        <a class="nav-link text-dark" asp-page="/LoginP"> Already have an account?</a>


        <div>
            <button class="btn-primary" type="submit">Sign In</button>
        </div>

        
    </form>
</div>


